body {
    font-family: 'Arial', sans-serif;
    background-color: #696502;
    margin-top: 56px;
}

.navbar-brand .brand-name {
    margin-left: 10px;
    font-size: 1.5rem;
    color: #000; 
}

.navbar {
    background-color: #f8df00;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.navbar .nav-link {
    color: rgb(0, 0, 0) !important;
}

.navbar .nav-link.active {
    font-weight: bold;
}

.navbar a:hover {
    color: #0004ff;
}

.navbar .btn {
    background-color: #007bff;
}

.product-section {
    background-color: #696502;
    color: white;
    padding-top: 56px; /* Adjust for fixed navbar height */
}

.products-services h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.card {
    background-color: #343a40;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.table {
    margin-top: 20px;
    color: #000;
}

