body {
    font-family: 'Arial', sans-serif;
    background-color: #696502;
    margin-top: 56px;
}

.registration-section {
    padding: 50px 0;
}

.registration-section .rimage{
    border-radius: 12px;
}

.title h1 {
    margin-bottom: 0px;
    color: #333;
}

.section .list-group{
    background-color: #343a40;
}


.section h2 {
    margin-bottom: 20px;
    color: #776803;
}

.payment-options img {
    max-width: 250px;
    width: 100%;
    height: 150px;
}

.list-group-item {
    font-size: 1.1em;
}


.card-background {
    background-color: #343a40;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.card-background ul li{
    background: none;
    border-color: aliceblue;
}


.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.align-items-stretch {
    align-items: stretch !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}